<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="section-headline"><span>Home</span></div>
    </div>
    <div class="col-4">
      <img src="../../../assets/image/logo.png" class="img-fluid float-right" style="width:400px; z-index:1; margin-bottom: 25px;" />
    </div>
      <img src="../../../assets/image/wood.png" class="img-fluid float-right" style="position: absolute; margin-top: 90px; z-index: -2;" />
      <hr style="position: absolute; width: 85%; height: 6px; background-color: #333; z-index: -1; margin-top: 84px;"/>
  </div>


    <hr/>
    <div class="row" style="margin-bottom:30px;">
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <a class="pointer" routerLink="/bookList">
              <img src="../../../assets/image/bestseller.png" class="img-fluid"/>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <a class="pointer" routerLink="/hours">
              <img src="../../../assets/image/hours.png" class="img-fluid"/>
            </a>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <a class="pointer" routerLink="/faq">
              <img src="../../../assets/image/faq.png" class="img-fluid"/>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="home-headline"><span>Featured Books</span></div>
      <hr style="margin-top: -15px;" />
    </div>

    <img src="../../../assets/image/shelf.png" class="img-fluid" style="margin-top: -5px; z-index: -1;" />

    <div class="row" style="margin:auto; margin-top:-210px; margin-bottom:50px; width: 90%;">
      <div class="col-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width:70%;" />
      </div>
      <div class="col-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width:70%;" />
      </div>
      <div class="col-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width:70%;" />
      </div>
      <div class="col-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width:70%;" />
      </div>
      <div class="col-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width:70%;" />
      </div>
      <div class="col-2">
        <img src="../../../assets/image/book1.png" class="img-fluid" style="width:70%;" />
      </div>
    </div>
</div>
